
<!DOCTYPE html>
<html>
<head>
  <title>{{titulo}}</title>
</head>
<body>

  <h1>Reserva el aula Ateca</h1>
  
  <form>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required placeholder="Sergio Ramos"><br><br>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required placeholder="***********"><br><br>
    <input type="submit" value="Login"><br>
    <input type="button" value="Registrar Usuario">
  </form>
</body>
</html>